<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/mobile.css">
  <title>Home</title>
</head>

<body>
  <div id="header">
    <h2>Web Clinic</h2>
  </div>
  <%- include('partials/navlinks'); -%>

    <div class="home">
      <img src="images/bg1.png" alt="BG1" class="img-fluid" width="100%" height="auto">

      <div class="card">
        <div class="container col-lg-6">

          <div>

            <h1>Overview</h1>
            <br>
            <h4><b>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</b></h4>
            <br>
            <h4><b>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness 
              and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, 
              chronic respiratory disease, and cancer are more likely to develop serious illness.</b></h4>
            <br>
            <h4><b>The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. 
              Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.  </b></h4>
            <br>
            <img src="images/bg2.png" alt="BG2" class="img-fluid" width="100%" height="auto">
            <br>
            <br>
            <h4><b> The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow). </b></h4>
            <br>
            <hr>
          </div>

          <div>
            <br>
            <h2>What to do to keep yourself and others safe from COVID-19</h2>
            <br>
          </div>
      
        <div>
          <ul>
            <li><b>Maintain at least a 1-metre distance between yourself and others</b> to reduce your risk of infection when they cough, sneeze or speak.
               Maintain an even greater distance between yourself and others when indoors. The further away, the better.</li>
            <br>
            <li><b>Make wearing a mask a normal part of being around other people. The appropriate use, storage and cleaning or disposal are essential to make masks as effective as possible.</b></li>
          </ul>  
          <br>
          <hr>
        </div>
          
        
        <div>
          <br>
          <h2>Here are the Basics of How to wear a Mask</h2>
          <br>
        </div>

        <div>
          <ul>
            <li><b>Clean your hands before you put your mask on, as well as before and after you take it off, and after you touch it at any time.</b></li>
            <br>
            <li><b>Make sure it covers both your nose, mouth and chin.</b></li>
            <br>
            <li><b>When you take off a mask, store it in a clean plastic bag, and every day either wash it if it’s a fabric mask, or dispose of a medical mask in a trash bin.</b></li>
            <br>
            <li><b>Don’t use masks with valves.</b></li>
          </ul>  
          <br>
          <br>
          <hr>
        </div>
      
        <div>
          <br>
          <h2>- Medical Hotlines for Assitance -</h2>    
          <br>  
        </div>

        <ul><i class="fas fa-hospital-alt"><b>  Department of Health</b></i>
          <li> <b> 02-894 (02-894-26843)</b> </li>
          <li> <b> (632) 8651-7800</b> </li>
          <li> <b> +63919-1601418</b> </li>
          <br>
          <br>
        </ul> 
     
        </div>
      </div>
      <br>
      <!--D2 nakalagay footer-->
      <%- include('partials/footer'); -%>
    </div>

</body>

</html>