<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/mobile.css">
  <title>Home</title>
</head>

<body>
  <div id="header">
    <h2>CompHub Services</h2>
  </div>
  <%- include('partials/navlinks'); -%>

    <div class="home">
      <img src="images/bg2.png" alt="BG2" class="img-fluid" width="100%" height="auto">

      <div class="card">
        <div class="container col-lg-6">

          <div>
            <h1>Welcome!</h1>
            <h4><b>Customer service is the direct one-on-one interaction between a consumer making a purchase and a
                representative of the company that is selling it. Most retailers see this direct interaction as a
                critical factor in ensuring buyer satisfaction and encouraging repeat business.</b></h4>
            <br>
            <hr>
          </div>

          <div>
            <br>
            <h2>Start by Introducing the Features of the website</h2>
            <br>
          </div>

          <div>
            <h3>1. FAQs :</h3>
            <h4><b> - An FAQ is a list of commonly asked questions and answers on a website about topics such as hours,
                shipping and handling, product information, and return policies.</b></h4>
            <br>
          </div>

          <div>
            <h3>2. Support :</h3>
            <h4><b> - Support page, This is where you can submit a ticket containing your concerns and see the status of
                your tickets</b></h4>
            <br>
          </div>

          <div>
            <h3>3. Login :</h3>
            <h4><b> - Login, This is where you enter your valid credentials if you have an existing account.</b></h4>
            <br>
          </div>


          <div>
            <h3>4. Signup :</h3>
            <h4><b> - New to the website?, This is where you input your credentials to create an account.</b></h4>
            <br>
          </div>


          <br>
        </div>
      </div>
      <!--D2 nakalagay footer-->
      <%- include('partials/footer'); -%>
    </div>

</body>

</html>