<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/mobile.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h2>Web Clinic</h2>
      </div>
        <div id="term-container">
          <div id="term-content">
          <h1 id="term-title">Terms of Service</h2>
          <h2>Welcome to Web Clinic</h2>
          <p class="term-text"> Web Clinic is an online consultation website where users can inquire about health concerns to professional doctors and other health workers. </p>
          <h2>1 .The Service We Provide</h2>
            <ul>
              <p class="term-text topic-title">Connect you to medical professionals:</p>
              <p class="term-text">At this time of the pandemic, hospitals are fully occupied and the people are instructed to stay at home to prevent the spread of the virus. Some become very aware of their health and seek medical assistance 
                if they contracted the virus. This online consultation can give users medical protocols and advice by our medical professionals. 
                So that they can be calm and assist their urgent medical problems. There are also some medical hotlines posted in the website. </p>
                <p class="term-text topic-title">Spread Awareness To The Virus:</p>
                <p class="term-text">The Covid-19 is a serious health hazard to the community. It is important to practice the health and safety protocols to prevent it from spreading. There are also some information about the virus and the common symptoms of the virus. 
                  These information are from the DOH and other medical institutions.</p>
            </ul>
            <h2>2. The Information We Collect</h2>
            <ul>
              <p class="term-text topic-title">Personal Information And Other Content:</p>
              <p class="term-text">We collect your personal information, the information on your signup account, the inquiries you have requested and the conversations you’ve
                 had to our medical professionals. The metadata is also included, the date when you inquired and replied to the messages. All of the information are stored in our 
                 database and are fully protected so that only us and the medical professionals can view your information.</p>
            </ul>
            <h2>3. How Do We Use The Information?</h2>
            <ul>
              <p class="term-text topic-title">Personal information and health concerns:</p>
              <p class="term-text">Your personal and medical information are closely monitored by our medical professionals so that they can give you precise medical assistance regarding your concerns.</p>
              <p class="term-text topic-title">Location-related information:</p>
              <p class="term-text">Your location can help us respond quickly to your serious medical needs.</p>
              <p class="term-text topic-title">Covid-19 Spread prevention:</p>
              <p class="term-text">If our health professional consultants confirmed that you are positive with the virus, we have the permission to send your information to your local government health unit so that spreading of 
                the virus could be prevented and contact tracing can be done immediately.</p>
            </ul>
          </div>
        </div>

      

      <%- include('../partials/footer'); -%>
    
    
</body>
</html>