<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/mobile.css">
  <title>Support</title>
</head>

<body>
  <div id="header">
    <h2>CompHub Support</h2>
  </div>
  <%- include('../partials/navlinks'); -%>

    <div>
      <img src="images/bg1.png" alt="BG2" class="img-fluid" width="100%" height="auto">

      <div class="card">
        <div class="container col-lg-6">

          <div>
            <h1>Have a Concern or Problem?</h1>
            <h4><b>Don't You Worry!, We Got You. Here in the Support Page we Manage Handle Various Problems and Concerns
                of our beloved Customers.That is not scope in the FAQs Page, With the help of our elite support team we
                can easily handle and find various solutions to your concerns bringing you high level service and
                satisfaction.</b></h4>
            <br>
            <hr>
          </div>

          <div>
            <br>
            <h2>Instructions In Submitting a Request</h2>
            <br>
          </div>

          <div>
            <h3>1. Go to "Submit Ticket" Page :</h3>
            <h4><b> - Just Click the "Submit Ticket" in the navigation menu located at upper side of the website</b>
            </h4>
            <br>
          </div>

          <div>
            <h3>2. Filling-up the Details :</h3>
            <h4><b> - Of Course we need your details about what is type of concern or problem you have. So what are you
                waiting for?, start filling-up that form!</b></h4>
            <br>
          </div>

          <div>
            <h3>3. Image or Screenshot :</h3>
            <h4><b> - For better proof and strong evidence about the problem it is good to bring or submit a photo of it
                too. such as receipts etc.</b></h4>
            <br>
          </div>


          <div>
            <h3>4. Submit :</h3>
            <h4><b> - After finishing filling up the details section and submitting a image of proof, you can now submit
                your request of problem or concern. </b></h4>
            <br>
          </div>

          <div>
            <h3>5. After Submittion :</h3>
            <h4><b> - Adter submitting your request,you will be redirected to the "Service status" the request that you
                submitted will be sent to our support team, for evaluation, please kindly wait for their response on
                your request.</b></h4>
            <br>
            <hr>
          </div>

          <div>
            <br>
            <h2>Instructions In Service Status</h2>
            <br>
          </div>

          <div>
            <h3>1. Go to "Service Status" Page :</h3>
            <h4><b> - Just Click the "Service Status" in the navigation menu located at upper side of the website</b>
            </h4>
            <br>
          </div>

          <div>
            <h3>2. Contents in the Service Status Page :</h3>
            <h4><b> - Inside the Service Status page, you will see your list of request that you have made. consisting
                its status if its is open/closed.</b></h4>
            <br>
          </div>

          <div>
            <h3>3. Response of the Support Team :</h3>
            <h4><b> - This is where you also see the replies and negotiation made by you and the support team.</b></h4>
            <br>
            <hr>
          </div>

          <div style="text-align:center">
            <br>
            <h3>"That's All And Hoping We Can Help and Give Great Assisstance To Your Needs"</h3>
            <br>
          </div>


          <br>
        </div>
      </div>
    </div>

    <!--D2 nakalagay footer-->
    <%- include('../partials/footer'); -%>

</body>

</html>